@charset "UTF-8";

@font-face {
  font-family: 'DXPnM-KSCpc-EUC-H'
  src: url("/DXPnM-KSCpc-EUC-H.ttf");
}

html body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: DXPnM-KSCpc-EUC-H;
  }
  #title{
    margin:0;
    padding:0;
    line-height: 70%;
  }

  a{text-decoration:none;}
  a:link{color:black;}
  a:visited{color:black;}
  a:hover{color:black;}
  a:active{color:gray;}


  #topMenu {
    height:30px;
    width:380px;
    margin: 0 auto;
    list-style: none;
  }

  #topMenu ul li {
    list-style:none;
    color: #656463;
    float:left;
    line-height: 15px;
    vertical-align: middle;
    text-align:center;
  }


  #topMenu .menuLink {
    text-decoration:none;
    color: #656463;
    display:block;
    width: 100px;
    font-size:12px;
    font-weight:bold;
  }
/*
  #sub_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    position: absolute;
    left:17%;
    top:20px;
    visibility: hidden;
  }

  #sub_menu li {
    float:none;
  }

  #sub_menu .subLink{
    text-decoration:none;
    color: #656463;
    display:block;
    font-size:12px;
    font-weight:bold;
    float: left;
    transition-duration:1s;
  }

  #topMenu li:hover #sub_menu{
    visibility: visible;
  }
  */
