@charset "UTF-8";

@font-face {
  font-family: 'DXPnM-KSCpc-EUC-H'
  src: url("/DXPnM-KSCpc-EUC-H.ttf");
}

@font-face { font-family: 'Cafe24Dangdanghae';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
font-weight: normal;
font-style: normal;
}

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"> .nanumsquare {
  font-family: 'NanumSquare', sans-serif !important; }

html body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: DXPnM-KSCpc-EUC-H;
  }
  #title{

    padding-left:20px;
    color: #656463;
    font-family: 'Cafe24Dangdanghae';
  }

  a{text-decoration:none;}
  a:link{color:#656463;}
  a:visited{color:#656463;}
  a:hover{color:#656463;}
  a:active{color:#656463;}


  #topMenu {
    position:absolute;
    left:70%;
    top:10px;
    height:30px;
    width:380px;
    list-style: none;
  }

  #topMenu ul li {
    list-style:none;
    color: #656463;
    float:left;
    line-height: 15px;
    vertical-align: middle;
    text-align:center;
    font-family: 'NanumSquare'
  }


  #topMenu .menuLink {
    text-decoration:none;
    color: #656463;
    display:block;
    width: 100px;
    font-size:12px;
  }

/*
  #sub_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    position: absolute;
    left:17%;
    top:20px;
    visibility: hidden;
  }

  #sub_menu li {
    float:none;
  }

  #sub_menu .subLink{
    text-decoration:none;
    color: #656463;
    display:block;
    font-size:12px;
    font-weight:bold;
    float: left;
    transition-duration:1s;
  }

  #topMenu li:hover #sub_menu{
    visibility: visible;
  }
  */
